#
# {{ ansible_managed }}
#

ddns-update-style interim;

allow booting;
allow bootp;

ignore client-updates;
set vendorclass = option vendor-class-identifier;

option pxe-system-type code 93 = unsigned integer 16;

{% for subnet in dhcpd_subnets %}
subnet {{ subnet.subnet }} netmask {{ subnet.netmask }} {
{% if subnet.routers is defined %}
    option routers             {{ subnet.routers }};
{% endif %}
{% if subnet.dns_servers is defined %}
    option domain-name-servers {{ subnet.dns_servers | join(" ") }};
{% endif %}
{% if subnet.netmask is defined %}
    option subnet-mask         {{ subnet.netmask }};
{% endif %}
{% if subnet.range_start is defined %}
    range dynamic-bootp        {{ subnet.range_start }} {{ subnet.range_end }};
{% endif %}
{% if subnet.default_lease_time is defined %}
    default-lease-time         {{ subnet.default_lease_time }};
{% endif %}
{% if subnet.max_lease_time is defined %}
    max-lease-time             {{ subnet.max_lease_time }};
{% endif %}
{% if subnet.filename is defined %}
    filename                   "{{ subnet.filename }}";
{% endif %}
{% if subnet.next_server is defined %}
    next-server                {{ subnet.next_server }};
{% endif %}
}
{% endfor %}

{% for static in dhcpd_static_addresses %}
host {{ static.name }} {
    hardware ethernet {{ static.mac }};
    fixed-address {{ static.ipv4_address }};
}
{% endfor %}
