{{ ansible_managed | comment }}

subnet {{ dhcpd_subnet.subnet }} netmask {{ dhcpd_subnet.netmask }} {
{% if dhcpd_subnet.range_start is defined
   and dhcpd_subnet.range_end is defined %}
  pool {
{% endif %}
{% if dhcpd_subnet.routers is defined %}
    option routers             {{ dhcpd_subnet.routers | join(", ") }};
{% endif %}
{% if dhcpd_subnet.dns_servers is defined %}
    option domain-name-servers {{ dhcpd_subnet.dns_servers | join(", ") }};
{% endif %}
{% if dhcpd_subnet.netmask is defined %}
    option subnet-mask         {{ dhcpd_subnet.netmask }};
{% endif %}
{% if dhcpd_subnet.range_start is defined %}
    range dynamic-bootp        {{ dhcpd_subnet.range_start }} {{ dhcpd_subnet.range_end }};
{% endif %}
{% if dhcpd_subnet.default_lease_time is defined %}
    default-lease-time         {{ dhcpd_subnet.default_lease_time }};
{% endif %}
{% if dhcpd_subnet.max_lease_time is defined %}
    max-lease-time             {{ dhcpd_subnet.max_lease_time }};
{% endif %}
{% if dhcpd_subnet.filename is defined %}
    filename                   "{{ dhcpd_subnet.filename }}";
{% endif %}
{% if dhcpd_subnet.next_server is defined %}
    next-server                {{ dhcpd_subnet.next_server }};
{% endif %}
{% if dhcpd_subnet.allow is defined %}
    allow                      {{ dhcpd_subnet.allow }};
{% endif %}
{% if dhcpd_subnet.deny is defined %}
    deny                       {{ dhcpd_subnet.deny }};
{% endif %}
{% if dhcpd_subnet.range_start is defined
   and dhcpd_subnet.range_end is defined %}
  }
{% endif %}
{% for host in dhcpd_hosts
   | selectattr("subnet", "defined")
   | selectattr("subnet", "equalto", dhcpd_subnet.name)
   | selectattr("state", "defined")
   | selectattr("state", "equalto", "present") %}
  include "{{ dhcpd_hosts_include_dir }}/{{ host.hostname }}.conf";
{% endfor %}
}
